NHTSA_METADATA_ENVIRONMENT=local
NHTSA_METADATA_DATABASE_URL=sqlite:///data/nhtsa_metadata.sqlite
NHTSA_METADATA_NHTSA_BASE_URL=https://nrd.api.nhtsa.dot.gov/nhtsa/vehicle/api/v1
NHTSA_METADATA_ALLOW_LIVE=false
NHTSA_METADATA_MIN_TEST_DATE=2011-01-01
NHTSA_METADATA_REFERENCE_DB_PATH=D:\vscode\pulse_analysis\data\db\nhtsa_data.db
NHTSA_METADATA_DEFAULT_TIMEOUT_SECONDS=30
NHTSA_METADATA_DEFAULT_RETRY_COUNT=2
NHTSA_METADATA_RATE_LIMIT_DELAY_SECONDS=0
